    <header class="pb-4 my-4 border-bottom">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <i class="bi bi-joystick navbar-brand-icon"></i>
          <%= link_to 'Emoji Tetris', '/', class: 'navbar-brand' %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><%= link_to 'Home', '/', class: active_page?(@page,'') %></li>
              <li class="nav-item"><%= link_to 'About', '/about', class: active_page?(@page,'About') %></li>
              <li class="nav-item"><%= link_to 'Leaderboard', '/leaderboard', class: active_page?(@page,'Leaderboard') %></li>
              <% if logged_in? %>
                <li class="nav-item"><%= link_to 'Users', '/users', class: active_page?(@page,'Users') %></li>
                <li class="nav-item"><%= link_to 'Log in', '/login', class: active_page?(@page,'Log In') %></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class='leaderboard-avatar' src='https://i.pravatar.cc/20?img=<%= current_user.pravatar.to_s %>' alt='avatar' width='20' />
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><span class="logged-in-as text-muted"><%= current_user.username %></span></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item"><%= button_to 'Log out', '/logout', method: :delete, class: 'dropdown-item' %></li>
                  </ul>
                </li>                
              <% end %>
              <% if !logged_in? %>
                <li class="nav-item"><%= link_to 'Sign up', '/signup', method: :get, class: active_page?(@page,'Sign Up') %></li>
              <% end %>

          </div>
        </div>
      </nav>
    </header>