<% provide(:page, 'Leaderboard') %>
<p style="color: green"><%= notice %></p>

<h1>Scores</h1>

<div id="scores">
  <table class="table">
    <tr>
      <th>#</th>
      <th>score</th>
      <th>user</th>
      <th>date</th>
    <tr>
    <% @scores.each_with_index do |score, index| %>
      <tr id="<%= dom_id score %>">
        <td><%= index + 1 %></td>
        <td><%= score.val %></td>
        <td><%= User.find_by_id(score.user_id).username %></td>
        <td><%= score.created_at.strftime("%_m/%-d/%y") %>
      </tr>
    <% end %>
  </table>
</div>
